body{
    background-color: black;
    color: whitesmoke;
    font-family: sans-serif;
}
#container{
    display: grid;
    width: 400px;
    height: 600px;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: repeat(5, 16.67%);
    text-align: center; 
    align-items: center;  
}

.button{
    font-size: 25pt;
    border: solid 1px;
    padding: 15px;
    margin: 7.5px;   
}

#display {
    grid-column-start: 1;
    grid-column-end: 5;
    font-size: 30pt;
  }

#AC {
    grid-column-start: 1;
    grid-column-end: 3;
  }

#divide {
    grid-column-start: 4;
    grid-column-end: 5;
  }

#zero {
    grid-column-start: 1;
    grid-column-end: 3;
  }